

<div class="product-detail-price ribbon-container">
	<a>
	₱{{product.price}}
	</a>
</div>

{{#md-card title=product.title image=product.image activator=true}}
	  	
	  {{#md-card-content}}
	    {{#link-to 'product' product.slug class="bottom-align" }}More Info{{/link-to}}
	  {{/md-card-content}}

	  {{#md-card-reveal}}
	      {{product.description}}
	  {{/md-card-reveal}}

    
{{/md-card}}
