@import 'components/color';
@import 'components/variables';
 
// Custom color settings go here 
$primary-color: color("blue", "lighten-5");
@import 'materialize';

/* FIXME: Workaround for https://github.com/Dogfalo/materialize/issues/1079 */
@each $mdi-icon-name, $mdi-icon-value in $mdi-list-icons {
  .#{$mdi-prefix}#{$mdi-icon-name}:before {
    content: "\""+ $mdi-icon-value +"\"";
  }
}

span.card-title.activator.black-text {
  line-height: 30px;
}

.float_right{
	float:right;
}

.float_left{
	float:left;
}

.prod_cart_buttons{
  margin-top: -15px;
  margin-bottom: 35px;
  border-bottom: solid #dddddd;
  border-width: 1px;
}