@import 'components/color';
@import 'components/variables';
 
// Custom color settings go here 
$primary-color: color("green", "lighten-1");
$gray-bg-color: color("gray", "lighten-5");
@import 'materialize';

/* FIXME: Workaround for https://github.com/Dogfalo/materialize/issues/1079 */
@each $mdi-icon-name, $mdi-icon-value in $mdi-list-icons {
  .#{$mdi-prefix}#{$mdi-icon-name}:before {
    content: "\""+ $mdi-icon-value +"\"";
  }
}

span.card-title.activator.black-text {
  line-height: 30px;
}

.float_right{
	float:right;
}

.float_left{
	float:left;
}

.prod_cart_buttons{
  margin-bottom: 35px;
  border-bottom: solid #dddddd;
  border-top: solid #dddddd;
  border-width: 1px;
    margin-left: 0px !important;
  margin-right: 0px !important;
}

.prod_cart_button_text{
	padding-top: 8px !important;
}

.checkout_summary{
	width: 30%;
  padding: 20px;
  position: absolute;
  right: 20px;
  background-color: #fff;
  background-color: rgba(255,255,255,.97);
  border-color: rgba(210,210,210,.5);
  border-radius: 2px;
  box-shadow: 0 5px 14px rgba(0,0,0,.1);
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: -webkit-transform .5s cubic-bezier(0.175,.885,.32,1.275),opacity .3s ease;
  transition: transform .5s cubic-bezier(0.175,.885,.32,1.275),opacity .3s ease;  z-index: 1050;
}
.checkout_summary:after{
	  top: -7px;
  right: 50%;
  border-width: 0 9px 7px;
  border-color: #fff transparent;
    content: '';
  position: absolute;
  display: block;
  border-style: solid;
  width: 0;

}

.iconmelon,
.im {
  position: relative;
  width: 32px;
  height: 32px;
  display: block;
  fill: #525151;
}
.iconmelon:after,
.im:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.checkout_input{
 /* padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 20px !important;*/

  border-bottom: 1px #ddd solid;
  padding: 10px 20px;
  margin: 0px -5px !important

}

.checkout_input > input {
    height: 1.5rem !important;
    border-bottom: none;
    margin-bottom: 0px;
    font-size: 14px;
}

.checkout_input > label {
    height: 1.5rem !important;
    font-size: 1em !important;
    margin-bottom: 0px;
}

.no_style > a:hover{
  text-decoration: none;
}

.checkout_order{
    margin-left: 20px !important;
    background-color: #eeeeee;
}

.checkout_order_list{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-bottom: 1px #ddd solid;
}

.checkout{
  margin-top: 30px;
}
.no_bottom_border{
  border-bottom: none;
  
}

.checkout_title{  
  font-size: 16px;
  padding: 15px;
  font-weight: 500;
}

.checkout_total{
  padding-top:10px !important;
}

.text_green{
  color: #8fc243;
}

.checkout_payment_method{
  padding: 0px 20px;
}

.product_title{
  font-size: 25px;
  font-weight: 500;
}

.description > strong{
  color: #ffffff;
}

.product_specific_text{
  padding-top:20px !important;
}
