@import 'components/color';
@import 'components/variables';
 
// Custom color settings go here 
$primary-color: color("green", "lighten-1");
$primary-color-dark: color("green", "darken-2");
$gray-bg-color: color("gray", "lighten-5");
@import 'materialize';

/* FIXME: Workaround for https://github.com/Dogfalo/materialize/issues/1079 */
@each $mdi-icon-name, $mdi-icon-value in $mdi-list-icons {
  .#{$mdi-prefix}#{$mdi-icon-name}:before {
    content: "\""+ $mdi-icon-value +"\"";
  }
}

@font-face{
    font-family: "RC Font";
    src: url('../fonts/g_light.otf') format('opentype');
    font-weight: normal; 
    font-style: normal;
}


body {
  font-family: "RC Font", Verdana, Arial, serif;
}

.logo{
  position: absolute;
  left: 10%;
  padding: 7px 0;
}

span.card-title.activator.black-text {
  line-height: 30px;
}

li.navbar_border:after{
  height:1px;
  width: 1px;
  background:#333;
  height:45%;
  display:block;
  content:"";
  margin:auto 6px;
}



.float_right{
	float:right;
}

.float_left{
	float:left;
}

.cart{
  margin-left: 100px;
  margin-right: -100px;
  padding: 0 10px;
}

.prod_cart_buttons{
  margin-bottom: 35px;
  border-bottom: solid #dddddd;
  border-top: solid #dddddd;
  border-width: 1px;
    margin-left: 0px !important;
  margin-right: 0px !important;
}

.prod_cart_button_text{
	padding-top: 8px !important;
}

.checkout_summary{
	width: auto;
  padding: 20px;
  position: absolute;
  right: 20px;
  background-color: #fff;
  background-color: rgba(255,255,255,.97);
  border:  1px #ddd solid;
  border-radius: 2px;
  box-shadow: 0 5px 14px rgba(0,0,0,.1);
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: -webkit-transform .5s cubic-bezier(0.175,.885,.32,1.275),opacity .3s ease;
  transition: transform .5s cubic-bezier(0.175,.885,.32,1.275),opacity .3s ease;  z-index: 1050;
}
.checkout_summary:after{
	  top: -7px;
  right: 39%;
  border-width: 0 9px 7px;
  border-color: #fff transparent;
    content: '';
  position: absolute;
  display: block;
  border-style: solid;
  width: 0;

}

.iconmelon,
.im {
  position: relative;
  width: 32px;
  height: 32px;
  display: block;
  fill: #525151;
}
.iconmelon:after,
.im:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.checkout_input{
 /* padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 20px !important;*/

  border-bottom: 1px #ddd solid;
  padding: 10px 20px;
  margin: 0px -5px !important

}

.checkout_input > input {
    height: 1.5rem !important;
    border-bottom: none;
    margin-bottom: 0px;
    font-size: 14px;
}

.checkout_input > label {
    height: 1.5rem !important;
    font-size: 1em !important;
    margin-bottom: 0px;
}

.no_style > a:hover{
  text-decoration: none;
}

.checkout_order{
    margin-left: 20px !important;
    background-color: #eeeeee;
}

.checkout_order_list{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-bottom: 1px #ddd solid;
}

.checkout{
  margin-top: 80px;
  margin-bottom: 0px;
}
.no_bottom_border{
  border-bottom: none;
  
}

.checkout_title{  
  font-size: 16px;
  padding: 15px;
  font-weight: 500;
}

.checkout_total{
  padding-top:10px !important;
}

.text_green{
  color: #8fc243;
}

.text_white{
  color: #fff;
}

.checkout_payment_method{
  padding: 20px 20px 0px 20px;
  margin-bottom: 0px !important;
}

.checkout_payment_data{
  margin-bottom: 0px !important;
}


.product_title{
  font-size: 25px;
  font-weight: 500;
}

.description > strong{
  color: #ffffff;
}

.product_specific_text{
  padding-top:20px !important;
}

#img_prod_specific{
  position:fixed !important; 
  top: 0 !important;
}

.nav_title{
  font-size: 26px;
  letter-spacing: 2px;
  padding: 10px;
  border-bottom: 1px #eee solid; 
}

.nav_text{
  text-decoration:none;
}

.page_title{
  font-size: 35px;
  letter-spacing: 2px;
  padding: 20px;
  border-bottom: 1px #333 solid; 
  text-align: center;
  color: $primary-color;  
  margin-top: 90px;
}
.intro_text{
  border-bottom: none !important;
}

.fixed_component{
  position: fixed;
}

.content_of_fixed_bar{
  position:absolute;
  right: 0px;
}

footer.fixed_component {
  bottom: 0px;
  width: 100%;
  z-index: 1050;
  background-color: #fff;

  opacity: 0;  
  padding-top: 20px;
  padding-right: 10%;
  border-top: 1px #ddd solid;
}

footer.fixed_component:hover{
opacity: 1;
  bottom: 0px;
  width: 100%;
  z-index: 1030;
  background-color: #fff;
  padding-right: 10%;
}

.card .card-content { 
  height: 150px;
}

.bottom_align{
  bottom:0px;
}

.header{
  width: 100%;
  z-index: 1030;
}

.main.content_of_fixed_bar{
  margin-top: 90px;
  right: 2%;
}

.navigation{
  margin-top: 90px;
  height: 100%;
  border-right: 1px #eee solid;
}

.hide{
  display:none;
}

.product_specific_text{
  padding-left: 30px;
  padding-right: 30px;
}

p > div.materialize-selectable-item {
  width: 33.33333%;
  margin-left:0;
}

.footer{
  margin-bottom:80px;
}

.btn-whole{
  width: 100%;
}

.btn-intro{
  background-color: transparent;
  border: 5px #fff solid;
  border-radius: 5px;
  padding: 20px 30px;
  width: 200px;
  font-weight: 800;
}



/* partcile css */

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {

  z-index: -10;

  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $primary-color-dark;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}
