<div class="container whole">
	<div class="row about">  
		<div class="col s4">

      		<img src="/logo.png"  class="row about" height="300" width="300"> 
		</div>
		<div class="col s8">

			<div class="page_title no_bottom_border about row">
				Rockin' Circuits 
			</div>
			<p class="row about">
				is an online store that provides electronics components and provide software development services to make your electronics, mobile, web projects possible. 
				<div class="row text_green emphasis">We aim to assist in unleashing your <span class="text_green">inner inventor</span></div>.

				Rockin' Circuits is a solid believer in the idea of open source technology. We believe an open market is a productive market. We belief that open source technology promotes <span class="text_green">innovation</span> and <span class="text_green">creativity</span>.
			</p>

					  	
			<div class="text_green emphasis">
				We design and develop <span class="text_green">simple solutions</span> to <span class="text_green">complex problems</span>.
			</div>
		</div>
	</div>
</div>