<div class="container whole">
<div class="">

<div class="parallax__group filler about "id="about">


	<div class="parallax__layer parallax__layer--back">

			{{#md-card-panel class="white" bodyClass="transparent" class="parallax_card about shadow"}}
 			<div >
			  	 
			  	<div class="parallax_desc">
			        
			        <div class="page_title text_white no_bottom_border about">
Rockin' Circuits 
</div>
<p class="row ">

	is an online store that sells electronics parts and provide software development services to make your electronics, mobile, web projects possible. 
	<div class="row   emphasis">We aim to assist in unleashing your 
		<span class=" ">inner inventor</span> 
	</div>.

	Rockin' Circuits is a solid believer in the idea of open source technology. We believe an open market is a productive market. We belief that open source technology promotes <span class=" ">innovation</span> and <span class=" ">creativity</span>.

</p>

			  	
	  	<div class=" emphasis">
	  		We design and develop <span class=" ">simple solutions</span> to <span class=" ">complex problems</span>.
	  	</div>

			  	</div>
 			</div>
 			{{/md-card-panel}}
	  </div>
	  <div class="parallax__layer parallax__layer--base">



			{{#md-card-panel class="" bodyClass="center text-green" class="parallax_card about"}}
 			<div >
			  	 
			  	<div class="parallax_desc">
			        
			        <div class="page_title no_bottom_border about">
Rockin' Circuits 
</div>
<p class="row ">is an online store that provides electronics components and provide software development services to make your electronics, mobile, web projects possible. <div class="row text_green emphasis">We aim to assist in unleashing your <span class="text_green">inner inventor</span></div>.

Rockin' Circuits is a solid believer in the idea of open source technology. We believe an open market is a productive market. We belief that open source technology promotes <span class="text_green">innovation</span> and <span class="text_green">creativity</span>.</p>

			  	
	  	<div class="text_green emphasis">
	  		We design and develop <span class="text_green">simple solutions</span> to <span class="text_green">complex problems</span>.
	  	</div>

			  	</div>
 			</div>
 			{{/md-card-panel}}
	  </div>

  </div>	

</div>


</div>