<div class="main container">
	<div class="page_title text-uppercase text_green">
	Contact
	{{#link-to 'contact.hire-us'}}
Hire us
{{/link-to}}

{{#link-to 'contact.ask-us'}}
Ask us
{{/link-to}}


<div class = 'container'>
	{{outlet}}
</div>
	</div>
</div>