{{#document-title}}Contact Us{{/document-title}}
<div class="main container">
	<div class="">

		<div class="contact_us_links center-align row container">
			{{#link-to 'contact.hire-us' class='no_style hire_us page_title text-uppercase text_green col l6 no_bottom_border active' }}
				Hire us
			{{/link-to}}
			
			{{#link-to 'contact.ask-us' class='no_style ask_us page_title text-uppercase text_green col l6 no_bottom_border' }}
				Ask us
			{{/link-to}}

			<span class='nav_indicator'>
			</span>
		</div>
		<div class = 'container'>
			{{outlet}}
		</div>
	</div>
</div>