{{#document-title}}Contact Us{{/document-title}}
<div class="main container footer">

	<div class="row navigation fixed_component"> 
		<ul class=" " > 
            <li class="col l4 m4 s4 contact_us center nav_title text-uppercase">
            <!-- 
                <img src="/icons/Remote-Control-128.png"  class="nav_icon" height="48" width="48"> -->
                <span class="nav_text ">
                <span class="hidden-xs hidden-s">S:</span>0998 469 2149
                </span>
            </li>
            <li class="  col l4 m4 s4 contact_us center nav_title text-uppercase"> 
                <!-- <img src="/icons/Modem-Wireless-128.png"  class="nav_icon" height="48" width="48"> -->
                <span class="nav_text ">
                <span class="hidden-xs hidden-s">G:</span>0905 575 3988
                </span> 
            </li>
            <li class="  col l4 m4 s4 contact_us center nav_title text-uppercase" > 
               <!--  <img src="/icons/Webcam-128.png" class="nav_icon" height="48" width="48">  -->
                <span class="nav_text">
                
				info@circuit.rocks
                </span> 
            </li>

		</ul>

	</div>
	<div class="">

		<div class="contact_us_links center-align row container col s12">
			{{#link-to 'contact.hire-us' class='no_style hire_us page_title text-uppercase text_green col l6 m6 s6 no_bottom_border active contact_us' }}
				Hire us
			{{/link-to}}
			
			{{#link-to 'contact.ask-us' class='no_style ask_us page_title text-uppercase text_green col l6 m6 s6 no_bottom_border contact_us' }}
				Ask us
			{{/link-to}}

			<span class='nav_indicator'>
			</span>
		</div>
		<div class = 'container'>
			{{outlet}}
		</div>
	</div>
</div>