{{#document-title}}Information{{/document-title}}
<div class='container'>
{{#md-card-collapsible}}
  {{#md-collapsible icon="mdi-image-filter-drama" title="Terms and Condition"}}
    <div>
<h1>Terms and Conditions</h1>
</div>
<div>
<p>Welcome to the circuit.rocks website (the "Site"). These terms and conditions ("Terms and Conditions") apply to the Site and all of its divisions, subsidiaries, and affiliate operated Internet sites which reference these Terms and Conditions.</p>
<p><br />You confirm your understanding of the Terms and Conditions by accessing this Site. You shall not use this website if you disagree with the Terms and Conditions of use. The Site reserves the right, to change, modify, add, or remove portions of these Terms and Conditions of use at any time. Changes will be effective when posted on the Site with no other notice provided. Please check these Terms and Conditions of use regularly for updates. Your continued use of the Site following the posting of changes to these Terms and Conditions of use constitutes your acceptance of those changes.</p>
<h3><br />USE OF THE SITE</h3>
<p>You must be at least 18 years of age or access the Site under the supervision of a parent or legal guardian.</p>
<p><br />We grant you a non-transferable and revocable license to use the Site, under the Terms and Conditions described, for the purpose of procuring personal items sold on the Site. Commercial use or use on behalf of any third party is forbidden, except as explicitly permitted by us in advance. Any breach of these Terms and Conditions shall result in the immediate revocation of the license granted in this paragraph without notice to you.</p>
<p><br />Content provided on this site is solely for informational purposes. Product representations expressed on this Site are those of the vendor and are not made by us. Submissions or opinions expressed on this Site are those of the individual posting such content and may not reflect our opinions.</p>
<p><br />Certain services and related features that may be made available on the Site may require registration or subscription. Should you choose to register or subscribe for any such services or related features, you agree to provide accurate and current information about yourself, and to promptly update such information if there are any changes. Every user of the Site is solely responsible for keeping passwords and other account identifiers safe and secure. The account owner is entirely responsible for all activities that occur under such password or account. Furthermore, you must notify us of any unauthorized use of your password or account. The Site shall not be responsible or liable, directly or indirectly, in any way for any loss or damage of any kind incurred as a result of, or in connection with, your failure to comply with this section.</p>
<p><br />During the registration process you agree to receive promotional emails from the Site. You can subsequently opt out of receiving such promotional e-mails by clicking on the link at the bottom of any promotional email.</p>
<h3><br />USER SUBMISSIONS</h3>
<p>Anything that you submit to the Site and/or provide to us, including but not limited to, questions, reviews, comments, and suggestions (collectively, "Submissions") will become our sole and exclusive property and shall not be returned to you. In addition to the rights applicable to any Submission, when you post comments or reviews to the Site, you also grant us the right to use the name that you submit, in connection with such review, comment, or other content. You shall not use a false e-mail address, pretend to be someone other than yourself or otherwise mislead us or third parties as to the origin of any Submissions. We may, but shall not be obligated to, remove or edit any Submissions.</p>
<h3><br />ORDER ACCEPTANCE AND PRICING</h3>
<p>Please note that there are cases when an order cannot be processed for various reasons. The Site reserves the right to refuse or cancel any order for any reason at any given time. You may be asked to provide additional verifications or information, including but not limited to phone number and address, before we accept the order.</p>
<p><br />We are determined to provide the most accurate pricing information on the Site to our users; however, errors may still occur, such as cases when the price of an item is not displayed correctly on the website. As such, we reserve the right to refuse or cancel any order. In the event that an item is mispriced, we may, at our own discretion, either contact you for instructions or cancel your order and notify you of such cancellation. We shall have the right to refuse or cancel any such orders whether or not the order has been confirmed and your credit card charged.</p>
<h3><br />TRADEMARKS AND COPYRIGHTS</h3>
<p>All intellectual property rights, whether registered or unregistered, in the Site, information content on the Site and all the website design, including, but not limited to, text, graphics, software, photos, video, music, sound, and their selection and arrangement, and all software compilations, underlying source code and software shall remain our property. The entire contents of the Site also are protected by copyright as a collective work under Philippine copyright laws and international conventions. All rights are reserved.</p>
<h3><br />APPLICABLE LAW AND JURISDICTION</h3>
<p>These Terms and Conditions shall be interpreted and governed by the laws in force in Manila, Philippines. Subject to the Arbitration section below, each party hereby agrees to submit to the jurisdiction of the courts of the Philippines and to waive any objections based upon venue.</p>
<h3><br />ARBITRATION</h3>
<p>Any controversy, claim or dispute arising out of or relating to these Terms and Conditions will be referred to and finally settled by private and confidential binding arbitration before a single arbitrator held in Manila, Philippines. The arbitrator shall be a person who is legally trained and who has experience in the information technology field in the Philippines and is independent of either party. Notwithstanding the foregoing, the Site reserves the right to pursue the protection of intellectual property rights and confidential information through injunctive or other equitable relief through the courts.</p>
<h3><br />TERMINATION</h3>
<p>In addition to any other legal or equitable remedies, we may, without prior notice to you, immediately terminate the Terms and Conditions or revoke any or all of your rights granted under the Terms and Conditions. Upon any termination of this Agreement, you shall immediately cease all access to and use of the Site and we shall, in addition to any other legal or equitable remedies, immediately revoke all password(s) and account identification issued to you and deny your access to and use of this Site in whole or in part. Any termination of this agreement shall not affect the respective rights and obligations (including without limitation, payment obligations) of the parties arising before the date of termination. You furthermore agree that the Site shall not be liable to you or to any other person as a result of any such suspension or termination. If you are dissatisfied with the Site or with any terms, conditions, rules, policies, guidelines in operating the Site, your sole and exclusive remedy is to discontinue using the Site.</p>
</div>
  {{/md-collapsible}}
  {{#md-collapsible icon="mdi-maps-place" title="Privacy Policy"}}
    <p>We collect information about you from a variety of sources, including:</p>
<ul>
<li>Information we collect from you directly.</li>
<li>Information we collect about you when you visit our site, use our services, or view our online advertisements.</li>
<li>Information we collect about you from other sources, such as commercially available sources.</li>
</ul>
<div>
<div>We use the information we collect to provide the products and services you request, to tell you about other products and services offered by DFRobot, and to manage our sites and services. In general, we do not share your personal information with third-party marketers, unless we have asked for and obtained your explicit consent.</div>
<div> </div>
<div>We may share your information:</div>
<ul>
<li>With our third-party service suppliers, including those who work on behalf of DFRobot and our business partners to send you joint communications that we hope you find of interest.</li>
<li>If a DFRobot brand is sold to another company.</li>
<li>To protect and defend the right and property of DFRobot (including enforcing our Terms and Conditions).</li>
<li>When required by law, and / or public authorities.</li>
</ul>
</div>
<div>All the information we collect about you may be combined to help us tailor our communications to you and to develop world-class products and services.</div>
  {{/md-collapsible}}
  {{#md-collapsible icon="mdi-social-whatshot" title="Shipping"}}
   <div>
<h1>Shipping and Returns</h1>
</div>
<div>
<h2>1. Shipping </h2>
<p><img title="Dynamodo Shipping Xend" src="http://www.dynamodo.com/media/wysiwyg/xend-logo.png" alt="Dynamodo Shipping Xend" width="150" /><img title="Dynamodo Shipping LBC" src="http://www.dynamodo.com/media/wysiwyg/lbc-logo.png" alt="Dynamodo Shipping LBC" width="150" /><img title="Dynamodo Shipping Partner 2GO" src="http://www.dynamodo.com/media/wysiwyg/2go-logo.png" alt="Dynamodo Shipping Partner 2GO" width="150" /></p>
<p>Shipping is handled by Xend, LBC and 2GO. Xend for Metro Manila deliveries while LBC/2GO for provincial addresses!</p>
<p>Dynamodo ships across the Philippines. Whether you live in Manila, Cebu, Davao, Boracay or Palawan you can order from our website and get the delivery at home or at your office in no time!</p>
<p>If you are in Metro Manila, you will receive your order within 2-3 business days after full payment. For customers outside Metro Manila, orders are delivered in 3-4 business days.</p>
<p>And for customers who want to meetup for the items, Dynamodo temporarily offers meet and pickup at <strong>Shangri-la Plaza Mall, EDSA</strong> from <strong>M-F</strong>, <strong>11am-5pm</strong>.  </p>
<h2><img title="Dynamodo Meetup Shangri-la Plaza Mall" src="http://www.dynamodo.com/media/wysiwyg/shangri-la-plaza-mall.png" alt="Dynamodo Meetup Shangri-la Plaza Mall" /> </h2>
</div>
  {{/md-collapsible}}
  {{#md-collapsible icon="mdi-social-whatshot" title="Payment Method"}}
    <div>
</div>
<div>
<hr />
<h3><strong>Bank Deposit (Over the Counter)</strong></h3>
<div><strong><img title="Dynamodo Payment Methods BDO" src="http://www.dynamodo.com/media/wysiwyg/BDO.png" alt="Dynamodo Payment Methods BDO" width="250" /><img title="Dynamodo Payment Methods Unionbank" src="http://www.dynamodo.com/media/wysiwyg/unionbank.png" alt="Dynamodo Payment Methods Unionbank" width="175" /><img title="Dynamodo Payment Methods Metrobank" src="http://www.dynamodo.com/media/wysiwyg/metrobank-logo.png" alt="Dynamodo Payment Methods Metrobank" width="225" /></strong></div>
<div> </div>
<div>Another option Dynamodo offers is through direct bank deposit of the payment to any of our bank accounts.</div>
<div> </div>
<div>1. Just go to the nearest <strong>Banco De Oro | Unionbank | Metrobank</strong> branch.</div>
<div>2. Deposit in cash/check the exact payment amount. Make the deposit to the following details:</div>
<div> </div>
<div>Bank: <strong>Banco De Oro</strong> (<strong>BDO)</strong></div>
<div>Account Number:<strong> 002770042366</strong></div>
<div>Account Name: <strong>Tridale Inc.</strong></div>
<div><strong> </strong></div>
<div>or</div>
<div> </div>
<div>Bank: <strong>Unionbank (UB)</strong></div>
<div>Account Number:<strong> 001580000876</strong></div>
<div>Account Name: <strong>Tridale Inc.</strong></div>
<div> </div>
<div>or</div>
<div> </div>
<div>Bank: <strong>Metrobank (MBTC)</strong></div>
<div>Account Number: <strong>014-3-01452187-0</strong></div>
<div>Account Name:<strong> Tridale Inc. </strong></div>
<div> </div>
<div>3. Send us an image of the completed deposit slip, through email <strong>cs@dynamodo.com</strong></div>
<div>4. Please indicate your <strong>Full Name</strong> and <strong>Order #</strong> for which the payment was made for </div>
<div><em>**Payments made in check will need additional 3 business days for check clearance.**</em></div>
<div> </div>
<hr />
<h3><strong>Credit Card thru Paypal (Visa, Mastercard or American Express)</strong></h3>
<div><img title="Dynamodo Payment Methods Paypal" src="http://www.dynamodo.com/media/wysiwyg/paypal-verified.png" alt="Dynamodo Payment Methods Paypal" width="300" /></div>
<div> </div>
<div>If you are a Visa/Mastercard/Amex credit card holder then you can purchase from Dynamodo.com. </div>
<div> </div>
<div><strong>Credit Card payment requirements</strong></div>
<p>User must be a legal credit card holder (VISA, MasterCard or American Express)</p>
<p>Prepare a valid government issued I.D. for random verification.</p>
<p>If you are using a credit card which is not under your name, please email a scanned copy of the card to our email address: <strong>cs@dynamodo.com</strong></p>
<p><strong>How to pay for your purchases in Dynamodo.com with Credit/Debit Card</strong></p>
<p>1. During checkout, select Credit Card/Debit Card as your preferred payment system.<br />2. You will be redirected to Paypal.com, our payment processor.<br />3. Complete the transaction by providing your correct account information.<br />4. You shall receive an email confirming that we have received your payment.</p>
<div><em>Because we leave it up to the secure hands of the PayPal platform to handle your payments we do not make the final decision whether to accept or decline any payments made. We are only informed by PayPal if payment is approved.</em></div>
<div><em> </em></div>
<div><em>We accept credit card payment through Paypal even if you don't have a Paypal account.</em></div>
<div> </div>
<div><strong>Who and how safe is Paypal?</strong></div>
<div> </div>
<div>Paypal is an internationally recognized payment platform on the web. It is secure and very easy to use. If you have a PayPal account already, this is the best choice of payment to use.
<p><em>**When using this payment option, you are authorizing Morbie to do a one-time charge against your credit card or checking account without your signature, as provided for under the mail-order regulations established by the Uniform Commercial Codes.</em></p>
For as long as we can remember, we have had no problems with PayPal. But don’t take our word for it, check out their site at <a href="http://www.paypal.com/" target="_blank" rel="nofollow">www.paypal.com</a>.</div>
</div>
  {{/md-collapsible}}
{{/md-card-collapsible}}
</div>