{{#document-title}}Arduino  , Elecrow , DFRobot , Sensors , Robotics{{/document-title}}
<div class="">

<div class="row navigation fixed_component">
  <div class=''>
     <div class=''> 
        <ul class=" " >
            <!--li class="  row nav_title">
               {{#link-to 'products' activeClass='selected'}} All
              {{/link-to}}        
            </li--> 
            <li class="col m4 center nav_title text-uppercase">
              {{#link-to 'products.boards' activeClass='selected'}} 
                <img src="/icons/Remote-Control-128.png"  class="nav_icon" height="48" width="48">
                <span class="nav_text">
                Boards
                </span>
              {{/link-to}}
            </li>
            <li class="  col m4 center nav_title text-uppercase">
              {{#link-to 'products.sensors' activeClass='selected'}} 
                <img src="/icons/Modem-Wireless-128.png"  class="nav_icon" height="48" width="48">
                <span class="nav_text">
                Sensors
                </span>
              {{/link-to}}
            </li>
            <li class="  col m4 center nav_title text-uppercase" >
              {{#link-to 'products.robotics' activeClass='selected'}} 
                <img src="/icons/Webcam-128.png" class="nav_icon" height="48" width="48"> 
                <span class="nav_text">
                Robotics
                </span>
              {{/link-to}}
            </li>

            <li class="  col m4 center nav_title text-uppercase" >
              <!-- {{#link-to 'products.robotics' activeClass='selected'}}  -->
                <img src="/icons/Webcam-128.png" class="nav_icon" height="48" width="48"> 
                <span class="nav_text">
                Communications
                </span>
              <!-- {{/link-to}} -->
            </li> 

            <li class="  col m4 center nav_title text-uppercase" >
              <!-- {{#link-to 'products.robotics' activeClass='selected'}}  -->
                <img src="/icons/Webcam-128.png" class="nav_icon" height="48" width="48"> 
                <span class="nav_text">
                Actuators
                </span>
              <!-- {{/link-to}} -->
            </li>  

           
        </ul> 
    </div>
  </div>
</div>


<div class="row main content_of_fixed_bar footer">
  <!--div class='row'>
    <div-->

      <div class=''>
        {{outlet}}

      </div>

    <!--/div>
  </div-->
</div>

</div>