<div class='row'>
   <div class='col s12'> 
      <ul class="tabs" >
          <li class="tab col s3">
             {{#link-to 'products' activeClass='selected'}} All
            {{/link-to}}        
          </li>
          <li class="tab col s3">
            {{#link-to 'products.boards' activeClass='selected'}} Boards
            {{/link-to}}
          </li>
          <li class="tab col s3">
            {{#link-to 'products.sensors' activeClass='selected'}} Sensors
            {{/link-to}}
          </li>
          <li class="tab col s3" >
            {{#link-to 'products.robotics' activeClass='selected'}} Robotics
            {{/link-to}}
          </li>
          <div class="indicator"></div>
      </ul> 
  </div>
</div>
<div class='row'>
<div>

  <div class='col s12'>
    {{outlet}}
    {{md-modal-container}}
  </div>

</div>
</div>