
<div class="col s12 l4 space_on_top footer product_specific_choices">

<div class="header ">
  You might also want to look at:
</div>

<div class="">
<ul>
        {{#each model as |item|}}
    <li class="col s12 m2 l12">

      <div>
      {{#link-to 'product' item.slug}}
        <div class="product_specific_choice row">
        <div class="col row s4 m12 l4">
        <img {{bind-attr src='item.image'}} height="70px" width="70px">
        </div>
        
        <div class="col s8 m12 l8">
          {{item.title}}
        </div>
        </div>

      {{/link-to}}
      </div>




   <!--  {{#md-card title=item.title titleClass="orange-text" image=item.image}}

          {{#md-card-content}}

      {{#link-to 'product' item.slug}}
      More Info
      {{/link-to}}
          {{/md-card-content}}
          {{#md-card-action}}
          {{/md-card-action}}
      {{/md-card}} -->
    </li>
        {{/each}}
</ul>
</div>
</div>