<ul>
        {{#each model as |item|}}
    <li>
    {{#md-card title=item.title titleClass="orange-text" image=item.image}}

          {{#md-card-content}}
      {{#link-to 'product' item.slug}}
      More Info
      {{/link-to}}
          {{/md-card-content}}
          {{#md-card-action}}
          {{/md-card-action}}
      {{/md-card}}
    </li>
        {{/each}}
</ul>