{{#document-title}}Microcontroller | Web and Mobile Solutions{{/document-title}}
<link rel="canonical" href="http://www.circuit.rocks/solutions">
<meta name="keywords" bind-attr content = solutions >
<meta name="description"  content = 'Exquisitely designed websites need precision and quality. We create websites that are in accordance with your goals using the latest technologies in web design and development.' >
<div class="container whole">

<!-- 	<div class="page_title text-uppercase text_green">
		SOLUTIONS
	</div>
 -->

<div class="paralla space_on_top" >
	<div class="parallax__group filler intro" id="intro">
		<div>
			<video autoplay loop poster="https://www.paypalobjects.com/webstatic/en_TW/mktg/wright/home/home_hero_roa_holidays.jpg" id="bgvid">
				<source src="https://www.paypalobjects.com/webstatic/mktg/roa/videos/buyer-protection/matt.webm" type="video/webm">
				<source src="https://www.paypalobjects.com/webstatic/mktg/roa/videos/buyer-protection/matt.mp4" type="video/mp4">
			</video>
		</div>
	 	 <div class="parallax__layer parallax__layer--base ">
	  	{{#md-card-panel class="white center parallax_card title intro shadow"}}
		  		<div class="parallax_title text-uppercase">
	 	 			BEAUTIFUL INDEPENDENT SOFTWARE FOR THE PEOPLE,
					BY THE PEOPLE.
			  	</div> 
 			{{/md-card-panel}}
	 
	  </div>
	  <div class="parallax__layer parallax__layer--base intro">
			{{#md-card-panel bodyClass="white-text center" class="teal parallax_card title intro"}}
		  		<div class="parallax_title text-uppercase">
	 	 			BEAUTIFUL INDEPENDENT SOFTWARE FOR THE PEOPLE,
					BY THE PEOPLE.
			  	</div>
 			{{/md-card-panel}}
			{{#md-card-panel class="parallax_card intro"}}
 			<div >
			  	<div class="parallax_desc">

			        <p>We create wonderful Internet Of Things, web and mobile applications </p>

			  	</div>
 			</div>
 			{{/md-card-panel}}
	  </div>




  	</div>


	<div class="parallax__group"id="slide1">
	  <div class="parallax__layer parallax__layer--back">
	  	{{#md-card-panel bodyClass="transparent" class="white center parallax_card title microcontroller shadow"}}

		  		<div class="parallax_title text-uppercase">
			  		Internet of Things applications
			  	</div>
 			{{/md-card-panel}}

			{{#md-card-panel class="white parallax_card microcontroller shadow"}}
 			<div >
			  	 
			  	<div class="parallax_desc">
			        <p>Either you want to control your appliance over the internet or create a hyrdroponic application we can make that for you </p>

			  	</div>
 			</div>
 			{{/md-card-panel}}


	  	<div class="parallax_image arduino">
	  		<img src="/images/solutions/arduino-yun2.png" height="427px" width="528px"/>
	  	</div>

	  </div>
	  <div class="parallax__layer parallax__layer--base microcontroller">

	  	
			{{#md-card-panel bodyClass="white-text center" class="teal parallax_card title microcontroller"}}

		  		<div class="parallax_title text-uppercase">
			  		Internet of Things applications
			  	</div>
 			{{/md-card-panel}}

			{{#md-card-panel bodyClass="white-text" class="parallax_card microcontroller"}}
 			<div >
			  	 
			  	<div class="parallax_desc">
			        <p>Either you want to control your appliance over the internet or create a hyrdroponic application we can make that for you</p>

			  	</div>
 			</div>
 			{{/md-card-panel}}
	  </div>

  </div>


<div class="parallax__group"id="slide2">
	  <div class="parallax__layer parallax__layer--base">
	  	<!-- {{#md-card-panel class="white center" bodyClass="transparent" class="parallax_card title web shadow"}}

		  		<div class="parallax_title text-uppercase">
			  		Cloud Solutions and Web Applications
			  	</div>
 			{{/md-card-panel}} -->

			{{#md-card-panel bodyClass="transparent" class="white parallax_card web shadow"}}
 			<div >
			  	 
			  	<div class="parallax_desc">
			        <p>Exquisitely designed websites need precision and quality. We create websites that are in accordance with your goals using the latest technologies in web design and development.</p>

			  	</div>
 			
		 	 	 <!-- <div class="iconmelon icon_green center_page" >
	              <svg class="" viewBox="0 0 32 32">
	                <use xlink:href="/icons.svg#cloud"></use>
	              </svg> 
	            </div> -->
 			</div>

 			{{/md-card-panel}}
	  </div>
	  <div class="parallax__layer parallax__layer--base">



	  	
			<!-- {{#md-card-panel class="teal center" bodyClass="white-text" class="parallax_card title web"}}

		  		<div class="parallax_title text-uppercase">
			  		Cloud Solutions and Web Applications
			  	</div>
 			{{/md-card-panel}} -->

			{{#md-card-panel bodyClass="center text-green" class="parallax_card web"}}
 			<div >
			  	 
			  	<div class="parallax_desc">
			        <p>Exquisitely designed websites need precision and quality. We create websites that are in accordance with your goals using the latest technologies in web design and development.</p>

			  	</div>
 			</div>
 			{{/md-card-panel}}
	  </div>

	  <!-- <div class="parallax__layer parallax__layer--deep"> 
	  	<div class="parallax_image">
	  		<img src="/DFR0009.jpg" height="100px" width="100px"/>
	  	</div>
	  </div> -->
  </div>	

  <div class="parallax__group"id="slide3">
	  <div class="parallax__layer parallax__layer--deep">
	  	{{#md-card-panel bodyClass="transparent" class="white center parallax_card title mobile shadow"}}

		  		<div class="parallax_title text-uppercase">
			  		Mobile Applications
			  	</div>
 			{{/md-card-panel}}

			{{#md-card-panel bodyClass="transparent" class="white parallax_card mobile shadow"}}
 			<div >
			  	 
			  	<div class="parallax_desc">
			        <p>Be it iOS or Android, mobile technology continues to affect us in every level. Moving beyond desktops to meet the needs of your customers and employees, we only develop mobile apps that are true to the visions of our clients. Mobile apps that we develop, regardless of the technology they are built on, aim to augment the experience and not the platforms used alone.</p>

			  	</div>
 			</div>
 			{{/md-card-panel}}

  			<div class="parallax_image ios">
		  		<img src="/images/solutions/iphone6.png" height="425px" width="338px"/>
		  	</div>
		  	<div class="parallax_image android">
		  		<img src="/images/solutions/nexus6.png" height="500px" width="500px"/>
		  	</div>

	  	
	  </div>
	  <div class="parallax__layer parallax__layer--base">
			{{#md-card-panel bodyClass="white-text" class="teal center parallax_card title mobile"}}
		  		<div class="parallax_title text-uppercase">
			  		Mobile Applications
			  	</div>
 			{{/md-card-panel}}
			{{#md-card-panel bodyClass="white-text" class="parallax_card mobile"}}
 			<div > 
			  	<div class="parallax_desc">
			        <p>Be it iOS or Android, mobile technology continues to affect us in every level. Moving beyond desktops to meet the needs of your customers and employees, we only develop mobile apps that are true to the visions of our clients. Mobile apps that we develop, regardless of the technology they are built on, aim to augment the experience and not the platforms used alone.</p>
			  	</div>
 			</div>
 			{{/md-card-panel}}
	  </div>
  </div>


	<div class="parallax__group filler" id="end">
	 	 <div class="parallax__layer parallax__layer--base page_title ">
	 	 	<div class="page_title no_bottom_border end">Itching to get that idea to take flight?
	 	 	</div>
	 	 	<div class="page_title no_bottom_border emphasis end">

	 	 	Let's Talk.
	 	 	</div>
{{#link-to 'contact'}} 
	 	 	 <div class="iconmelon icon_green center_page" >
              <svg class="" viewBox="0 0 32 32">
                <use xlink:href="/icons.svg#mail"></use>
              </svg> 
            </div>
            {{/link-to}}

	 	 </div>


  	</div>

</div>

</div>